.well.activity
	| {{#unless App.user.content}}
	.nav-header This Week In Summary
	.summary
		.breadcrumb
			| Contacts queued
			span.pull-right.badge.badge-info {{contactsQueued}}
		.breadcrumb
			| Tags created
			span.pull-right.badge.badge-info {{tagsCreated}}
		.breadcrumb
			| Notes authored
			span.pull-right.badge.badge-info {{notesAuthored}}
		| {{#if mostVerboseTag}}
		.breadcrumb
			| Most verbose tag
			.own-line "{{mostVerboseTag}}"
		| {{/if}}
		.breadcrumb
			| Most alarming email subject
			.own-line
				em "Re: Do you remember eating this??"
		.breadcrumb
			| Most active user
			.own-line
				strong {{mostActiveUser}}
	| {{else}}
	.nav-header Activity Feed
	.feed
		| {{#each feed}}
		| {{#view view.feedItemView}}
		| {{#if typeInitialContact}}
		| <a {{action goContact this href=true}}>
		h4 {{canonicalName}}
		| </a>
		p
			| Added by 
			| <a {{action goProfile addedBy href=true}}>{{addedBy.canonicalName}}</a> 
			| on {{added}}
		| {{view App.TaggerView contactBinding="this"}}
		| {{/if}}
		| {{#if typeContact}}
		| <a {{action goContact this href=true}}>
		h4 {{canonicalName}}
		| </a>
		p
			| Was just added by 
			| <a {{action goProfile addedBy href=true}}>{{addedBy.canonicalName}}</a>
			| !
		| {{view App.TaggerView contactBinding="this"}}
		| {{/if}}
		| {{#if typeLinkedin}}
		| <a {{action goProfile updater href=true}}>{{updater.canonicalName}}</a> 
		| augmented <a {{action goContact this href=true}}>{{canonicalName}}</a> with Linked
		i.icon-linkedin-sign
		|  data.
		| {{/if}}
		| {{#if typeTag}}
		| <a {{action goProfile creator href=true}}>{{creator.canonicalName}}</a> 
		| added the tag 
		em "{{body}}" 
		| to 
		| <a {{action goContact contact href=true}}>{{contact.canonicalName}}</a>
		| .
		| {{/if}}
		| {{#if typeNote}}
		| <a {{action goProfile author href=true}}>{{author.canonicalName}}</a> 
		| wrote a note about 
		| <a {{action goContact contact href=true}}>{{contact.canonicalName}}</a>
		| : "{{preview}}"
		| {{/if}}
		| {{/view}}
		| {{/each}}
	| {{/unless}}
