{{#if App.user.admin}}
.row-fluid
	.span8
		h1 Configure Redfly
	.span4
		strong {{totalThisMonth}} contacts added this month
		br
		i {{autoThisMonth}} yet to be enriched with data
.row-fluid
	.span12
		hr
		br

		h3 Tag Management
		.row-fluid
			.tabbable.tabs-left
				ul.nav.nav-tabs
					p
						br
					li.cat1.editable.active.alreadyhere(action='editme "cat1" target="view"')
						| <a href=orgtagcat1 data-toggle=tab> {{App.admin.orgtagcat1}}  <i class="icon-edit"></i></a>
					li.cat2.editable(action='editme "cat2" target="view"')
						| <a href=orgtagcat2 data-toggle=tab> {{App.admin.orgtagcat2}}  <i class="icon-edit"></i></a>
					li.cat3.editable(action='editme "cat3" target="view"')
						| <a href=orgtagcat3 data-toggle=tab> {{App.admin.orgtagcat3}}  <i class="icon-edit"></i></a>
					li
						| <a href=industry data-toggle=tab> Industry </a>
					li
						| <a href=organisation data-toggle=tab>other {{App.orgTitle}} tags </a>
					p
						br
					p
						br
					p
						br
					p
						br
				.tab-content
					.tagboxes
						.tab-pane.active#organisation
						.tab-pane#industry
						.tab-pane#orgtagcat1
						.tab-pane#orgtagcat2
						.tab-pane#orgtagcat3
						{{view App.TagAdminView}}

		h3 Organization Domains
		.row-fluid
			.span4
				{{view Ember.TextArea valueBinding="domainlist"}}

		h3 Classify Queue Configuration
			.row-fluid.checkadmin
				|<label>
				{{view Ember.Checkbox valueBinding="userstoo" checkedBinding="userstoochk"}}
				&nbsp;Include employees in classify queue
				|</label>

		h3 Contact View Management
			.row-fluid.checkadmin
				|<label>
				{{view Ember.Checkbox valueBinding="hidemails" checkedBinding="hidemailschk"}}
				&nbsp;Hide e-mail when contact is not known to me
				|</label>

		h3 Editing Contacts
			.row-fluid.checkadmin
				|<label>
				{{view Ember.Checkbox valueBinding="anyedit" checkedBinding="anyeditchk"}}
				&nbsp;Allow any user to edit some contact fields
				|</label>

		h3 Blacklists
		.row-fluid
			.span4
				.h4 Domains
				{{view Ember.TextArea valueBinding="domainblacklist"}}
			.span4
				.h4 Names
				{{view Ember.TextArea valueBinding="nameblacklist"}}
			.span4
				.h4 Emails
				{{view Ember.TextArea valueBinding="emailblacklist"}}


{{/if}}
